@model RecMan.Models.Resource

@{
    ViewBag.Title = "Details";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //LIKE
        $("a.Like").on("click", function () {
            var link = "/Resource/Details/" + id;
            //Choose all a tags with this class and this ID
            //var a = $("a[class$='like'][data-id$='"+id+"']");
            $.ajax({
                type: "GET",
                cache: false,
                //url: '<%: Url.Resources("Details")%>',
                url: link = "/Resource/Details/" + id,
                data: {"id":id},
                success: function (result) {
                    a.html('<i class="fa fa-heart fa-lg text-danger"></i> <span>(' + result + ')</span>').addClass("like");
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#lblCommentsNotification').text("Error encountered while liking.");
                }
            });
        });

        /*$('#btnSaveComments').click(function () {
            var comments = $('#txtComments').val();
            var selectedId = $('#hdnSelectedId').val();

            $.ajax({
                url: '<%: Url.Action("SaveComments")%>',
                data: { 'id' : selectedId, 'comments' : comments },
                type: "post",
                cache: false,
                success: function (savingStatus) {
                    $("#hdnOrigComments").val($('#txtComments').val());
                    $('#lblCommentsNotification').text(savingStatus);
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $('#lblCommentsNotification').text("Error encountered while saving the comments.");
                }
            });
        });*/

        /*$.ajax({
            url:/Resources/Details,
            data: "id=" + Id + "&param2=" + param2,
        type: "GET",
        success: function(data){
            // code here
        },
        error: function(passParams){
            // code here
        }
    });*/
        /*//UNLIKE
        $("a.unlike").click(function () {
            var id = $(this).data("id");
            var link = "/Resource/UnlikeThis/" + id;
            var a = $(this);
            $.ajax({
                type: "GET",
                url: link,
                success: function (result) {
                    a.html('<i class="fa fa-heart fa-lg text-danger"></i> (' + result + ')');
                }
            });
        });*/

    });
</script></head>


<body>
        <div class="table-title">
            <h2>@Html.DisplayFor(model => model.Title)</h2>
            <h4>by @Html.DisplayFor(model => model.UserName)</h4>
             <a class="Like">@Html.ActionLink("Like", "Details", new { id = Model.ResourceID })</a>
        </div>
    <div class="ResourceHeader">
        <table class="table">
            <tr class="blue">
                <th>@Html.DisplayNameFor(model => model.Source)</th>
                <th>@Html.DisplayNameFor(model => model.Level)</th>
                <th>@Html.DisplayNameFor(model => model.Focus)</th>
                <th>@Html.DisplayNameFor(model => model.Topic)</th>
                <th>@Html.DisplayNameFor(model => model.LikeCount)</th>
            </tr>

            <tr>
                <td>@Html.DisplayFor(model => model.Source)</td>
                <td>@Html.DisplayFor(model => model.Level)</td>
                <td>@Html.DisplayFor(model => model.Focus)</td>
                <td>@Html.DisplayFor(model => model.Topic)</td>
                <td>@Html.DisplayFor(model => model.LikeCount)</td>
            </tr>
        </table>
    </div><!--ResourceHeader-->

    <div class="content">
        <table class="table">
            <tr>
                <td>@Html.DisplayFor(model => model.Content)</td>
            </tr>

            @if (Model.Files.Any(f => f.ContentType == "image/jpeg"))
            {
                <dt>
                    Avatar
                </dt>
                <dd>
                    <img src="~/File?id=@Model.Files.First(f => f.FileType == FileType.Avatar).FileId" alt="avatar" />
                </dd>

            }

            @if (Model.Files.Any(f => f.ContentType == "application/pdf"))
            {
                var getData = ViewData["PDF"];

                <object data="data:application/pdf;base64,@System.Convert.ToBase64String((Byte[])ViewData["PDF"])" type="application/pdf" width="500">
                    <embed src="data:application/pdf;base64, @System.Convert.ToBase64String((Byte[])ViewData["PDF"])" type="application/pdf" />
                </object>
            }
        </table>
        </div>


        <table class="table">
            <tr>
                <h3>Comments</h3>
                @Html.ActionLink("Post a Comment", "../Comments/Create", new { id = Model.ResourceID }) |
            </tr>
            @foreach (var c in Model.Comments.OrderByDescending(c => c.DateTime))
            {
                <tr>
                    <td>@c.UserName</td>
                    <td>@c.Message</td>
                    <td>
                        @if (@c.DateTimeEdit != null)
                        {<p>edited</p>@c.DateTimeEdit}
                        <p>posted</p>@c.DateTime
                    </td>
                    <td>
                        @if (@c.UserId == @ViewBag.Userr)
                        { @Html.ActionLink("Edit", "../Comments/Edit", new { id = c.ID, ResId = Model.ResourceID })}
                    </td>
                    <td>
                        @if (@c.UserId == @ViewBag.userr) 
                        { @Html.ActionLink("Delete", "../Comments/Delete", new { id = c.ID, ResId = Model.ResourceID })}
                    </td>
                </tr>
            }
        </table>

        @if(Model.UserName == "Lauren")
            { 
            @Html.ActionLink("Edit this resource", "Edit", new { id = Model.ResourceID })
            }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
</body>



