<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
@model IEnumerable<RecMan.Models.Resource>

@{
    ViewBag.Title = "Index";
}

<h4>
    @Html.ActionLink("Add new resource", "Create", "Resources", new { area = "" })
</h4>


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Level", "Index", new { sortOrder = ViewBag.LevelSortParm })
        </th>
        <th>
            @Html.ActionLink("Focus", "Index", new { sortOrder = ViewBag.FocusSortParm })
        </th>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.TitleSortParm })
        </th>
        <th>
            @Html.ActionLink("Source", "Index", new { sortOrder = ViewBag.SourceSortParm })
        </th>
        <th>
            @Html.ActionLink("Topic", "Index", new { sortOrder = ViewBag.TopicSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Focus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Source)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>

            <td>

                @if (User.IsInRole("Manager, Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.ResourceID })
                }
                @Html.ActionLink("Details", "Details", new { id = item.ResourceID })

                @if (User.IsInRole("Manager, Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.ResourceID })
                }
            </td>
        </tr>
    }

</table>
</html>
